body {
    font-family: 'Architects Daughter', cursive;
    
}

div h1 {
    color: white;
    font-size: 50px;
   
}
.container-fluid {
    margin: 20px ;
  align-items: center;
  
}

.container {
    border: 1px dotted black;
}

#guardar {
    margin: 10px;
}

